<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Listing Weeks of Year <%= "#{@year_plan.year_name}" %> 

  <%= link_to 'Click Here to Start Planning', "javascript:void(0);" , class: 'btn btn-lg btn-success start-plan-btn', style: 'margin-left:50px;' %>

  <%= link_to(new_year_plan_week_path(@year_plan.id), class: "btn pull-right btn-color" ,style: "width:200px;" ) do %>
    <i class="fa fa-plus"></i>
    New Week
  <% end %>
  </h1>
</div>

<div class="wrapper-md">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Week #</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Holiday description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @weeks.each do |week| %>
        <tr>
          <td><%= week.year_week_id %></td>
          <td><%= week.start_date.strftime("%d-%m-%Y") %></td>
          <td><%= week.end_date.strftime("%d-%m-%Y") %></td>
          <td><%= week.holiday_description %></td>
          <td>
              <%= link_to '', edit_year_plan_week_path(@year_plan.id,week),:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
              <%= link_to '', "/year_plans/#{@year_plan.id}/weeks/#{week.id}", method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash'%>
          </td> 
          
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="modal fade" id="grade_subject_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Grade &amp; Subject </h4>
        </div>
        <%= form_tag url_for(:controller => 'weeks', :action => 'schedule_weeks', params: {year_plan_id: @year_plan.id}), :method => 'get' do %>
          <%#= hidden_field_tag :attendance_date, "" %>
          <div class="modal-body">

            <div class="form-group">
              <label>Grade</label>
              <!-- <p>Some text in the modal.</p> -->
              <%= select_tag :grade_id, options_from_collection_for_select(@grades,"id", "full_name"),
                  prompt: "Select Grade", class: "form-control", required: true %>
            </div>

            <div class="form-group">
              <label>Subject</label>
              <!-- <p>Some text in the modal.</p> -->
              <%= select_tag :subject_id, options_from_collection_for_select(@subjects,"id", "name"),
                  prompt: "Select Subject", class: "form-control", required: true %>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag 'Start', class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.start-plan-btn').on('click',function (e){
      $('#grade_subject_modal').modal('show');
    });
  });
</script>