<%= stylesheet_link_tag "//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "//cdn.datatables.net/tabletools/2.2.2/js/dataTables.tableTools.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" %>
<script type="text/javascript">
  $(document).ready(function() {

    $('#example').dataTable({
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"
        }
    });



  });

</script>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> Transports Management
</div>

<table class="table" id="example">
  <thead class= "table-head">
    <tr>
      <th>Transport no.</th>
      <th>Employee</th>
      <th>Route</th>
      <th>Vehicle</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @transports.each do |transport| %>
      <tr>
        <td><%= transport.no %></td>
        <td><%= transport.employee.full_name %></td>
        <td><%= transport.route.name %></td>
        <td><%= transport.vehicle.vehicle_no %></td>
        <td><%= transport.departure %></td>
        <td><%= transport.arrival %></td>
        <td><%= link_to '', transport,:class =>  'btn btn-success  glyphicon glyphicon-ok-circle' %>
            <%= link_to '', edit_transport_path(transport),:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
            <%= link_to '', transport, method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

