<%= form_for @employee do |emp| %>
  <div class="col-md-12">
    <div class="abc form-holder">
      <div class="row">
        <fieldset class="sss well well-lg">

          <legend class="lll">General Detail</legend>
          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Employee Number</label>
              <%= emp.text_field :employee_number , :style => 'height:34px;width: 100%',  class: 'form-control', required: true, autofocus: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Full Name</label>
              <%= emp.text_field :full_name , :style => 'height:34px;width: 100%',  class: 'form-control', required: true, autofocus: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Date of Joining</label>
              <%= emp.text_field :date_of_joining , :style => 'height:34px;width: 100%',  class: 'form-control datepicker',required: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="exampleInputPassword1">Date of Birth</label>
              <%= emp.text_field :date_of_birth , :id => 'datepicker', :style => 'height:34px;width: 100%', class: 'form-control datepicker' %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Gender</label>
              <%= emp.select :gender, options_for_select(%w[MALE FEMALE]),{}, {class: "form-control", style: 'width: 100%'} %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="exampleInputPassword1">Religion</label>
              <%= emp.select :religion, options_for_select(%w[Islam Chritianity Budhism Hinduism Jew]),{}, {class: "form-control", style:"width: 100%"} %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="exampleInputPassword1">Qualification</label>
              <%= emp.text_field :qualification , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Category</label>
              <%= emp.select :category_id, options_from_collection_for_select(@categories,"id", "name"),{prompt: "Select Category"}, style: 'height:34px;width: 100%', class: "form-control", required: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Department</label>
              <%= emp.select :department_id, options_from_collection_for_select(@departments,"id", "name"), {prompt: "Select Department"}, style: 'height:34px;width: 100%', class: "form-control", required: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Total Experience Years</label>
              <%= emp.text_field :total_experience_years , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>
          <div class="column col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Total Experience Months</label>
              <%= emp.text_field :total_experience_months , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>

            </div>
          </div>

          

          <!-- <div class="column col-xs-12 col-sm-2">
            <div class="form-group">
              <%#= emp.file_field :image, required: true %>
            </div>
          </div> -->
        </fieldset>

        <fieldset class="sss well well-lg">
          <legend class="lll">Personal Detail</legend>
          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Father Name</label>
              <%= emp.text_field :father_name , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Mother Name</label>
              <%= emp.text_field :mother_name , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="exampleInputPassword1">Spouse Name</label>
              <%= emp.text_field :spouse_name , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="exampleInputEmail1">Marital Status</label>
              <%= emp.select :marital_status, options_for_select(%w[Single Married]),{}, {class: "form-control", style: 'width: 100%', required: true} %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-2">
            <div class="form-group">
              <label for="exampleInputPassword1">Child Count</label>
              <%= emp.number_field :child_count , :id => 'datepicker', :style => 'height:34px;width: 100%', class: 'form-control' %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-2">
            <div class="form-group">
              <label for="exampleInputEmail1">Blood Group</label>
              <%= emp.select :blood_group, options_for_select(%w[Unknown A+ A- B+ B- O+ O- AB+ AB-]),{}, {class: "form-control", style:"width: 100%"} %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-2">
            <div class="form-group">
              <label for="exampleInputEmail1">Nationality</label>
              <%= emp.text_field :nationality , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Id/Iqama #</label>
              <%= emp.text_field :id_card_no , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Id/Iqama # Expiry</label>
              <%= emp.text_field :id_card_expiry , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>
        </fieldset>

        <fieldset class="sss well well-lg">
          <legend class="lll">Contact Information</legend>
          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Address 1</label>
                <%= emp.text_field :address1 , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>
          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="exampleInputPassword1">Address 2</label>
                <%= emp.text_field :address2 , :style => 'height:34px;width: 100%',  class: 'form-control' %>
            </div>
          </div>
          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">City</label>
                <%= emp.text_field :city, :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>
   
          <div class="column col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Country</label>
                <%= emp.text_field :country , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
              </div>
          </div>

          <div class="column col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Home Phone</label>
                <%= emp.text_field :home_phone, :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Mobile Number</label>
                <%= emp.text_field :mobile_number , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>
          
          <div class="column col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <%= emp.email_field :email , :id => 'email_field' , :style => 'height:34px;width: 100%', class: 'form-control', required: true %>

              <div class = "hide" id= "error_div">
                <span style = "color:red;" id="error_text"></span>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="sss well well-lg">
          <legend class="lll">Salary Detail</legend>
          <div class="column col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Salary</label>
              <%= emp.text_field :salary , :style => 'height:34px;width: 100%',  class: 'form-control',required: true %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Employee Position</label>
              <%= emp.select :position_id, options_from_collection_for_select(@positions,"id", "name"),{prompt: "Select Position"},style: 'width: 100%', class: "form-control", required: true %>
            </div>
          </div>


          <div class="column col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Status</label>
              <%= emp.select :status, options_for_select(%w[Part-Time Permanent]),{}, {class: "form-control", style:"width: 100%"} %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="exampleInputEmail1">Pay Date</label>
              <%= emp.text_field :pay_date, :style => 'height:34px;width: 100%', class: "form-control", value: "#{Date.today}", id: "duedate" %>
            </div>
          </div>

          <div class="column col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="exampleInputEmail1">Next Due Date</label>
              <%= emp.text_field :next_due_date, :style => 'height:34px;width: 100%', class: "form-control", value: "#{Date.today+1.months}", id: "Next_duedate" %>
            </div>
          </div>
          <!--  <div class="column col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="exampleInputEmail1">Each Installment</label>
              <input type="text" style="height: 34px;width: 100%" class = "form-control" id = "installment">
            </div>
          </div>

          <div class="column col-xs-12 col-sm-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Each Installment</label>
                <input type="text" style="height: 34px;width: 100%" class = "form-control" id = "installment">
            </div>
          </div> -->
        </fieldset>

      </div>
    </div>  
  </div>
  <div class="form-group">
    <%= emp.submit "Save Employee", :class => 'btn btn-block btn-success form-control',:style=>'width:24%;float: right;' %>
  </div>  
<% end %>


<style type="text/css">
  .container{
      width: 1068px;
  }

  .sss{
    border:1px solid#e5e5e5;   padding: 1%; 
  }

  .lll{
    width: auto !important; 
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: blue;
    border-radius: 21px;
  }

  .form-holder .col-sm-2 {
    min-height: 84px;
  }
  .form-holder .form-control{
    width: 65%;
  }
  .form-control{
    border-radius: 7px;
    border: black;
  }
</style>