
<%= stylesheet_link_tag "//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "//cdn.datatables.net/tabletools/2.2.2/js/dataTables.tableTools.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" %>
<script type="text/javascript">
  $(document).ready(function() {

    $('#example').dataTable({
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"
        }
    });



  });

</script>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Employees 
  <%= link_to(new_employee_path, class: "btn pull-right btn-color" ,style: "width:200px;" ) do %>
    <i class="fa fa-plus"></i>
    New Employee
  <% end %>
  </h1>
</div>

<table class="table" id="example">
  <thead class= "table-head">
      <tr>
        <th>Employee name</th>
        <th>Employee number</th>
        <th>Employee Department</th>
        <th>Employee Category</th>
        <th>Gender</th>
        <th>Employee Mob</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.full_name %></td>
          <td><%= employee.employee_number %></td>
          <td><%= employee.try(:department).try(:name) %></td>
          <td><%= employee.try(:category).try(:name) %></td>
          <td><%= employee.gender %></td>
          <td><%= employee.mobile_number %></td>
          <td><%= link_to '', employee,:class =>  'btn btn-success  glyphicon glyphicon-ok-circle' %>
              <%= link_to '', edit_employee_path(employee),:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
              <%= link_to '', employee, method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash'%>
          </td> 
        </tr>
      <% end %>
    </tbody>
  </table>
