
<div class="abc" style="">

    <div class="container" >
      <div class="abc" style="">

    <div class="container" >
  
    <br>
        <div class="col-sm-4">
            <table class="table">
                <tbody>


              <tr>
                <td>Employee number:</td>
                <td><%= @employee.employee_number %></td>
              </tr>

              <tr>
                <td>Date of joining:</td>
                <td><%= @employee.date_of_joining %></td>
              </tr>

              <tr>
                <td>Full name:</td>
                <td><%= @employee.full_name %></td>
              </tr>

              <tr>
                <td>Gender:</td>
                <td><%= @employee.gender %></td>
              </tr>

              <tr>
                <td>Date of birth:</td>
                <td><%= @employee.date_of_birth %></td>
              </tr>

              <tr>
                <td>Religion:</td>
                <td><%= @employee.religion %></td>
              </tr>

              <tr>
                <td>Qualification:</td>
                <td><%= @employee.qualification %></td>
              </tr>

              <tr>
                <td>Employee category:</td>
                <td><%= @employee.category.name %></td>
              </tr>

              <tr>
                <td>Employee department:</td>
                <td><%= @employee.department.name %></td>
              </tr>

              <tr>
                <td>Marital status:</td>
                <td><%= @employee.marital_status %></td>
              </tr>

              <tr>
                <td>Child count:</td>
                <td><%= @employee.child_count %></td>
              </tr>

              <tr>
                <td>Father name:</td>
                <td><%= @employee.father_name %></td>
              </tr>

              <tr>
                <td>Mother name:</td>
                <td><%= @employee.mother_name %></td>
              </tr>

              <tr>
                <td>Spouse name:</td>
                <td><%= @employee.spouse_name %></td>
              </tr>

              <tr>
                <td>Blood group:</td>
                <td><%= @employee.blood_group %></td>
              </tr>

              <tr>
                <td>Nationality:</td>
                <td><%= @employee.nationality %></td>
              </tr>

              <tr>
                <td>Id card no:</td>
                <td><%= @employee.id_card_no %></td>
              </tr>

              <tr>
                <td>Id card expiry:</td>
                <td><%= @employee.id_card_expiry %></td>
              </tr>

              <tr>
                <td>Address1:</td>
                <td><%= @employee.address1 %></td>
              </tr>

              <tr>
                <td>Address2:</td>
                <td><%= @employee.address2 %></td>
              </tr>

              <tr>
                <td>City:</td>
                <td><%= @employee.city %></td>
              </tr>

              <tr>
                <td>Country:</td>
                <td><%= @employee.country %></td>
              </tr>

              <tr>
                <td>Home phone:</td>
                <td><%= @employee.home_phone %></td>
              </tr>

              <tr>
                <td>Mobile number:</td>
                <td><%= @employee.mobile_number %></td>
              </tr>

              <tr>
                <td>Email:</td>
                <td><%= @employee.email %></td>
              </tr>

              <tr>
                <td>Salary:</td>
                <td><%= @employee.salary %></td>
              </tr>

              <tr>
                <td>Employee position:</td>
                <td><%= @employee.position.name%></td>
              </tr>

              <tr>
                <td>Status:</td>
                <td><%= @employee.status %></td>
              </tr>

              <tr>
                <td>Pay date:</td>
                <td><%= @employee.pay_date %></td>
              </tr>

              <tr>
                <td>Next due date:</td>
                <td><%= @employee.next_due_date %></td>
              </tr>


                   
                </tbody>
            </table>
            <td><%= link_to 'Back', employees_path,class: "btn btn-color" %></td>

        </div>
       </div>
    </div>
  </div>
</div>


