<p id="notice"><%= notice %></p>

<p>
  <strong>Time table:</strong>
  <%= @period.time_table_id %>
</p>

<p>
  <strong>Period num:</strong>
  <%= @period.period_num %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @period.subject_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @period.day %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
