<div class="bg-light lter b-b wrapper-md">
  <h4 class="m-n text-center">Yearly Plan <%= "#{@year_plan.year_name}" %> <br/><br/>
  <%= "#{@subject.name} " %>&nbsp;&nbsp; <strong> - </strong>&nbsp;&nbsp;<%= "#{@grade.full_name} " %> 
  </h4>
</div>

<div class="wrapper-md">
<table class="table table-striped">
    <thead class="table-head">
      <tr>
        <th>Week #</th>
        <th>Date</th>
        <% @max_days.times do |day| %>
        	<th colspan="2"><%= "Day #{day+1}" %></th>
       	<% end %>
      </tr>
    </thead>
    <tbody>
      <% @rows.try(:each) do |row| %>
        <tr>
         	<td><%= row["week_num"] %></td>
         	<td><%= row["date"] %></td>
         	<% row["days"].try(:each) do |day| %>
         		<td><strong>CW: </strong><%= day["cw"] %></td>
         		<td><strong>HW: </strong><%= day["hw"] %></td>
         	<% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>