<p id="notice"><%= notice %></p>


<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Manage Departments 
  <%= link_to(new_department_path, class: "btn pull-right btn-color" ,style: "width:200px;") do %>
    <i class="fa fa-plus"></i>
    New Department
  <% end %>
  </h1>
</div>
<div class="wrapper-md">


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @departments.each do |department| %>
        <tr>
          <td><%= department.code %></td>
          <td><%= department.name %></td>
          <td><%= link_to '', department,:class =>  'btn btn-success  glyphicon glyphicon-ok-circle' %>
              <%= link_to '', edit_department_path(department),:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
              <%= link_to '', department, method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash'%>
          </td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
