<style type="text/css">
  .container{
      width: auto;
  }

  .sss{
    border:1px solid#e5e5e5;   padding: 1%; 
  }

  .lll{
    width: auto !important; 
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: #729F32;
    border-radius: 21px;
  }
</style>

<%= form_for(@transportfeerecord) do |f| %>
  <% if @transportfeerecord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transportfeerecord.errors.count, "error") %> prohibited this transportfeerecord from being saved:</h2>

      <ul>
      <% @transportfeerecord.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="container form-holder">
      <div class="row">
        <br>
        <fieldset class="sss well well-lg">
          <legend class="lll">Transport Fee Record</legend>
              <div class="row">
                <div class="column col-xs-6 col-sm-6">
                  <div class="field">
                    <label>Student ID</label>
                    <input type="text" class="form-control" id="student">
                  </div>
                </div>
                <br> 
                <div class="col-md-3">
                  <input type="button" class="btn btn-info" id="detail" value="Get Details">
                </div>

              </div>
              <div class="row">
                <div class="column col-xs-12 col-sm-12">
                  <div class="field">
                    <div id="stp">
                      <%= render 'routes'  %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="actions" >
                <%= f.submit 'Generate Receipt', class: "btn btn-success pull-right", id: "create-btn", style: "display: none"%>
              </div>
        </fieldset>
      </div>
    </div>
<% end %>



<script type="text/javascript">

  $("#detail").click(function (e){
    console.log("i am heres");
    $.get("/transportfeerecords/fee_data", {student_id: $("#student").val()})
    .done(function(data){
      if (data)
      {
        $("#error_div_rollnum").removeClass('hide');
      }
    });
  });

 </script> 





