



<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Item </h1>
</div>

<style type="text/css">
    @media(min-width: 1200px)
.abc {
  width: 1080px;
}
</style>
<div class="abc" style="">

    <div class="container" >
      <div class="abc" style="">

    <div class="container" >
  
    <br>
        <div class="col-sm-4">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="student-profile-td">
                            Code
                        </td>
                        <td>
                        <%= @item.code %>
                        </td>
                    </tr>
                     <tr>
                        <td class="student-profile-td">
                            Name
                        </td>
                        <td>
                        <%= @item.name %>        
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                          Category
                        </td>
                        <td>
                        <%= @item.shopcategory.name %>
                                
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                          Purchase Price
                        </td>
                        <td>
                        <%= @item.purchase %>  
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                          Sale Price
                        </td>
                        <td>
                        <%= @item.price %>  
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                          Grade
                        </td>

                        <td>
                        <%= @item.grade.name %>
                                
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                          Sold
                        </td>

                        <td>
                        <%= @item.sold %>
                                
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                          Left
                        </td>
                        <td>
                        <%= @item.left %>
                                
                        </td>
                    </tr>
                </tbody>
            </table>
            <%= link_to 'Back', items_path,class: "btn btn-color" %>

        </div>
       </div>
    </div>
  </div>
</div>





