<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parent.name %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @parent.relation %>
</p>

<p>
  <strong>Education:</strong>
  <%= @parent.education %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @parent.profession %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @parent.dob %>
</p>

<p>
  <strong>Income:</strong>
  <%= @parent.income %>
</p>

<p>
  <strong>Iqamanumber:</strong>
  <%= @parent.iqamaNumber %>
</p>

<p>
  <strong>Iqamaexpiry:</strong>
  <%= @parent.iqamaExpiry %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @parent.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @parent.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @parent.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @parent.country %>
</p>

<p>
  <strong>Officephone:</strong>
  <%= @parent.officePhone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @parent.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
