<style type="text/css">
  .container{
      width: auto;
  }

  .sss{
    border:1px solid#e5e5e5;   padding: 1%; 
  }

  .lll{
    width: auto !important; 
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: #729F32;
    border-radius: 21px;
  }
  </style>

<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="container form-holder">
        <div class="row">
        <br>
            <fieldset class="sss well well-lg">
              <legend class="lll">Vehicle Information</legend>
              <div class = "row">
                  <div class="column col-xs-12 col-sm-3">
                      <div class="form-group ">
                        <div class="field">
                          <%= f.label :vehicle_no %><br>
                          <%= f.text_field :vehicle_no, :style => 'height:34px;',  class: 'form-control' , required: true, autofocus: true %>
                        </div>
                      </div>
                    </div>
                    <div class="column col-xs-12 col-sm-3">
                       <div class="form-group ">
                          <div class="field">
                            <%= f.label :code %><br>
                            <%= f.text_field :code,:style => 'height:34px;',  class: 'form-control' , required: true, autofocus: true %>
                          </div>
                        </div>
                    </div>
                     <div class="column col-xs-12 col-sm-3">
                       <div class="form-group ">
                          <div class="field">
                            <%= f.label :seat %><br>
                            <%= f.text_field :seat,:style => 'height:34px;',  class: 'form-control' , required: true, autofocus: true %>
                          </div>
                        </div>
                    </div>
                     <div class="column col-xs-12 col-sm-3">
                       <div class="form-group ">
                          <div class="field">
                            <%= f.label :max_allowed %><br>
                            <%= f.text_field :max_allowed,:style => 'height:34px;',  class: 'form-control' , required: true, autofocus: true %>
                          </div>
                        </div>
                    </div>
                </div>
                <div class = "row">
                      <div class="column col-xs-12 col-sm-3">
                        <div class="form-group ">
                          <div class="field">
                            <%= f.label :vehicle_type %><br>
                            <%= f.select :vehicle_type,options_for_select(%w[Bus Mini-bus Car Other]),{}, {class: "form-control", style:"width: 100%"} %>
                          </div>
                        </div>
                      </div>
                      <div class="column col-xs-12 col-sm-3">
                       <div class="form-group ">
                          <div class="field">
                            <%= f.label :insurance %><br>
                            <%= f.text_field  :insurance, :style => 'height:34px;',  class: 'form-control' , required: true, autofocus: true %>
                          </div>
                        </div>
                      </div>
                      <div class="column col-xs-12 col-sm-3">
                       <div class="form-group ">
                          <div class="field">
                            <%= f.label :tax %><br>
                            <%= f.text_field  :tax, :style => 'height:34px;',  class: 'form-control' , required: true, autofocus: true %>
                          </div>
                        </div>
                      </div>
                      <div class="column col-xs-12 col-sm-3">
                       <div class="form-group ">
                          <div class="field">
                            <%= f.label :permit %><br>
                            <%= f.text_field  :permit, :style => 'height:34px;',  class: 'form-control' , required: true, autofocus: true %>
                          </div>
                        </div>
                      </div>
                  </div>
                    </div>
                  </div>
                </div>
                 <div class="actions">
                  <%= f.submit "Create ",:class => 'btn btn-block btn-success form-control',:style=>'width:24%;float: right;' %>
                </div>
            </fieldset>
        </div>
    </div>

<% end %>

<style type="text/css">
    .form-holder .col-sm-4 {
      min-height: 84px;
    }
    .form-holder .form-control{
        width: 100%;
    }
    .form-control{
        border-radius: 7px;
        border: black;
    }
</style>



