


<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Vehicle </h1>
</div>

<style type="text/css">
    @media(min-width: 1200px)
.abc {
  width: 1080px;
}
</style>
<div class="abc" style="">

    <div class="container" >
      <div class="abc" style="">

    <div class="container" >
  
    <br>
        <div class="col-sm-4">
            <table class="table">
                <tbody>
                    
                    <tr>
                        <td class="student-profile-td">
                            Vehicle no.
                        </td>

                        <td>
                          <%= @vehicle.vehicle_no %>
                          
                        </td>
                    </tr>

                     <tr>
                        <td class="student-profile-td">
                            Vehicle code
                            
                        </td>
                        <td>
                          <%= @vehicle.code %>
                                
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                          Vehicle saets
                            
                        </td>
                        <td>
                          <%= @vehicle.seat %>
                                
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                          Vehicle seat allowed
                            
                        </td>
                        <td>
                          <%= @vehicle.max_allowed %>
                                
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                            vehicle type
                        </td>

                        <td>
                          <%= @vehicle.vehicle_type %>
                                
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                            vehicle insurance
                        </td>

                        <td>
                          <%= @vehicle.insurance %>
                                
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                           tax 
                        </td>

                        <td>
                          <%= @vehicle.tax %>
                                
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                           permit 
                        </td>

                        <td>
                          <%= @vehicle.permit %>
                                
                        </td>
                    </tr>


                   
                </tbody>
            </table>
        <%= link_to 'Back', vehicles_path ,class: "btn btn-color" %>

        </div>
        </div>
        </div>
        </div>
        </div>




