<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Class Result</h1>
</div>

<div class="well well-lg">
	<div class = "col-md-6">
		<label>Select Class</label>
		<select id = "grade">
			<%= Grade.all.try(:each) do |g|%>
				<option value = "<%= g.id %>"> <%= g.name %> </option>
			<% end %>
		</select>	
	</div>
	
	<div class = "col-md-6">
	
		<label>Select Class</label>
		<select id = "exam">
			<%= Exam.all.try(:each) do |e|%>
				<option value = "<%= e.id %>"> <%= e.name %> </option>
			<% end %>
		</select>
	</div>
	<button class="btn btn-success pull-right" id="resultbtn">Get Report</button>
</div>

<br>
<br>
<div id = "result">

</div>

<script type="text/javascript">
	$("#resultbtn").click(function (){
		$.get("/marksheets/get_class_result", {class_id: $("#grade").val(), exam_id: $("#exam").val() })
			.done(function(data){
	  		if (data)
	  		{
	  			$("#error_div_rollnum").removeClass('hide');
	  			$("#error_text_rollnum").html($("#roll_Number").val() + " roll number already registered!");
	  			$("#roll_Number").val('');
	  		}
	  		else
	  		{
	  			$("#error_div_rollnum").addClass('hide');
	  		}
	  	});
	 	});
</script>